@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth; /* pour animer la page*/
    background: #000 url(../asset/asset0.jpg) no-repeat fixed center center / cover;
    background-size: cover;
}
body{
    font: 1.6rem 'poppins' , sans-serif;
    margin: 0;
    color: black;
    text-rendering: optimizeLegibility; 
}
h1,h2,h3,h4,h5,h6,p,ul{
    padding: 0rem;
    margin: 0rem;
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p,ul, li{
    font-weight: 200;
    font-family: 'Redressed', cursive;
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 4rem;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: #222;
}

*{box-sizing: border-box;
}
:root{ /*palette couleur */
    --bgc-primary: #d3d2d6;
    --bgc-secondary:#ffffff;
    --bgc-last: #3d3838;
    --color-text: #222;
}
header, nav, main, section,p ,footer{
    max-width: 120rem;
    margin: 0 auto;
    background-color: rgba(255,255,255, 0.8);
}

h1, h2{
    text-transform: capitalize;
}
header h1{
    line-height: 9.0rem;
    text-align: center;
    font-size: 4rem;
    color: var(--color-text);
    background-color: var(--bgc-primary);
}
header h1::before{
    content: url(../asset/logo-de-batman.png);
    vertical-align: 0rem;
    margin-right: 5rem;
    object-fit: contain;

}
section h2{
    line-height: 6.0rem;
    text-align: left;
    padding-left: 1rem;
    color: var(--color-text);
    background-color: var(--bgc-primary);
}
main {
    max-width: 100rem;
    margin: 5rem auto;
    padding: 1rem;
    text-align: center;
    background-color: var(--bgc-primary);
    border-radius: 4rem;
    overflow: hidden;
    
}
p{
    border: #000 1rem solid; /*encadrer texte et arrondir les angles */
    border-radius: 4rem;
    overflow: hidden;
}
ul li{
    width: calc(100%/4 - 1rem); /*modifier taille de l'image*/
    display: block;
    float:right;
    margin: 0 1rem 1rem 0;
}
p{
    line-height: 3rem;
    text-align: auto;
    padding:1 rem 0 0 1rem;
}

footer{
    text-align: center;
    color: #222;
}